# Comparing National Parks Visitation 2019-2021

#### Yosemite National Park

In [1]:
import pandas as pd
from plotnine import *

In [ ]:
# Edited National Parks Visitation 2020-2021 Dataset
# Explain why

In [4]:
df_2021 = pd.read_csv('2021_Current_Year_Monthly_and_Annual_Summary_Report_%281979%2D_Present%29.csv')
df_2021.head()

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2020,dec_2021,difference,ytd_2020,ytd_2021,ytd_difference
0,20-Dec,21-Dec,YTD 2020,YTD 2021,TOTAL PARKS,"13,651,336","15,850,602","2,199,266","236,763,581","288,286,704","51,523,123"
1,20-Dec,21-Dec,YTD 2020,YTD 2021,Abraham Lincoln Birthplace NHP,"7,472","10,746","3,274","228,141","251,189","23,048"
2,20-Dec,21-Dec,YTD 2020,YTD 2021,Acadia NP,"21,260","14,381","-6,879","2,669,034","4,069,148","1,400,114"
3,20-Dec,21-Dec,YTD 2020,YTD 2021,Adams NHP,544,360,-184,"6,937","20,679","13,742"
4,20-Dec,21-Dec,YTD 2020,YTD 2021,African Burial Ground NM,116,793,677,"7,908","9,167","1,259"

In [5]:
df_2020 = pd.read_csv('2020_Current_Year_Monthly_and_Annual_Summary_Report_%281979%2D_Present%29.csv')
df_2020.head()

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2019,dec_2020,difference,ytd_2019,ytd_2020,ytd_difference
0,19-Dec,20-Dec,YTD 2019,YTD 2020,TOTAL PARKS,"15,565,241","13,651,336","-1,913,905","327,516,619","236,763,581","-90,753,038"
1,19-Dec,20-Dec,YTD 2019,YTD 2020,Abraham Lincoln Birthplace NHP,"6,764","7,472",708,"238,226","228,141","-10,085"
2,19-Dec,20-Dec,YTD 2019,YTD 2020,Acadia NP,"12,865","21,260","8,395","3,437,286","2,669,034","-768,252"
3,19-Dec,20-Dec,YTD 2019,YTD 2020,Adams NHP,256,544,288,"187,400","6,937","-180,463"
4,19-Dec,20-Dec,YTD 2019,YTD 2020,African Burial Ground NM,"4,279",116,"-4,163","47,427","7,908","-39,519"

In [ ]:
# Explain what I'm doing here

In [12]:
df_2021[(df_2021.park == "Yosemite NP") | (df_2021.park == "TOTAL PARKS")]

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2020,dec_2021,difference,ytd_2020,ytd_2021,ytd_difference
0,20-Dec,21-Dec,YTD 2020,YTD 2021,TOTAL PARKS,"13,651,336","15,850,602","2,199,266","236,763,581","288,286,704","51,523,123"
383,20-Dec,21-Dec,YTD 2020,YTD 2021,Yosemite NP,"117,454","129,273","11,819","2,268,313","3,287,595","1,019,282"

In [13]:
df_2020[(df_2020.park == "Yosemite NP") | (df_2020.park == "TOTAL PARKS")]

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2019,dec_2020,difference,ytd_2019,ytd_2020,ytd_difference
0,19-Dec,20-Dec,YTD 2019,YTD 2020,TOTAL PARKS,"15,565,241","13,651,336","-1,913,905","327,516,619","236,763,581","-90,753,038"
380,19-Dec,20-Dec,YTD 2019,YTD 2020,Yosemite NP,"149,188","117,454","-31,734","4,422,861","2,268,313","-2,154,548"

In [14]:
df1 = pd.read_csv('Visitation_By_State_and_By_Park_%282017%2D_LastCalendarYear%29.csv')
df1.head()

,State,Field1,Field2,Textbox22,Field4,Textbox24,TotalNonRecreationVisits,Textbox98,TotalRecreationVisitorHours,Textbox103,...,Textbox47,Textbox129,Textbox42,Textbox135,Textbox37,Textbox141,Textbox95,Textbox146,Textbox90,Textbox153
0,Alabama,Horseshoe Bend NMP,"28,600",-36.97%,"8,788",-25.20%,0,NaN,"105,461",-25.20%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
1,Alabama,Little River Canyon NPRES,"802,375",23.44%,"168,827",27.60%,0,NaN,"2,025,934",27.60%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
2,Alabama,Natchez Trace PKWY,"428,736",-2.72%,"143,413",-3.01%,"583,028",-9.08%,"1,720,966",-3.01%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
3,Alabama,Russell Cave NM,"8,462",-49.15%,"1,074",-55.36%,0,NaN,"12,894",-55.35%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
4,Alabama,Tuskegee Airmen NHS,"6,843",-77.26%,855,-77.27%,0,NaN,"10,264",-77.26%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   State                           408 non-null    object
 1   Field1                          408 non-null    object
 2   Field2                          408 non-null    object
 3   Textbox22                       402 non-null    object
 4   Field4                          408 non-null    object
 5   Textbox24                       402 non-null    object
 6   TotalNonRecreationVisits        408 non-null    object
 7   Textbox98                       194 non-null    object
 8   TotalRecreationVisitorHours     408 non-null    object
 9   Textbox103                      402 non-null    object
 10  TotalNonRecreationVisitorHours  408 non-null    object
 11  Textbox109                      194 non-null    object
 12  ConcessionerLodgingOvernights   408 non-null    object
 13  Textbox115                      44 non-null     object
 14  ConcessionerCampingOvernights   408 non-null    object
 15  Textbox121                      28 non-null     object
 16  TentOvernights                  408 non-null    object
 17  Textbox127                      100 non-null    object
 18  RecreationVehicleOvernights     408 non-null    object
 19  Textbox133                      87 non-null     object
 20  BackcountryOvernights           408 non-null    object
 21  Textbox139                      110 non-null    object
 22  NonRecreationOvernights         408 non-null    object
 23  Textbox144                      97 non-null     object
 24  MiscellaneousOvernights         408 non-null    object
 25  Textbox151                      10 non-null     object
 26  State2                          408 non-null    object
 27  RecVisitors1                    408 non-null    object
 28  Textbox23                       408 non-null    object
 29  RecDays1                        408 non-null    object
 30  Textbox25                       408 non-null    object
 31  Textbox11                       408 non-null    object
 32  Textbox99                       151 non-null    object
 33  Textbox74                       408 non-null    object
 34  Textbox104                      405 non-null    object
 35  Textbox69                       408 non-null    object
 36  Textbox110                      151 non-null    object
 37  Textbox56                       408 non-null    object
 38  Textbox116                      45 non-null     object
 39  Textbox51                       408 non-null    object
 40  Textbox122                      46 non-null     object
 41  Textbox46                       408 non-null    object
 42  Textbox128                      71 non-null     object
 43  Textbox41                       408 non-null    object
 44  Textbox134                      55 non-null     object
 45  Textbox36                       408 non-null    object
 46  Textbox140                      106 non-null    object
 47  Textbox94                       408 non-null    object
 48  Textbox145                      67 non-null     object
 49  Textbox89                       408 non-null    object
 50  Textbox152                      5 non-null      object
 51  Textbox28                       408 non-null    object
 52  Textbox29                       408 non-null    object
 53  Textbox30                       408 non-null    object
 54  Textbox31                       408 non-null    object
 55  Textbox12                       408 non-null    object
 56  Textbox100                      0 non-null      float64
 57  Textbox75                       408 non-null    object
 58  Textbox105                      408 non-null    object
 59  Textbox70                       408 non-null    object
 60  Textbox111                      0 non-null      float64
 61  Textbox57                       408 non-null    object
 62  Textbox117                      0 non-null      float64
 63  Textbox52                       408 non-null    object
 64  Textbox123                      0 non-null      float64
 65  Textbox47                       408 non-null    object
 66  Textbox129                      0 non-null      float64
 67  Textbox42                       408 non-null    object
 68  Textbox135                      0 non-null      float64
 69  Textbox37                       408 non-null    object
 70  Textbox141                      0 non-null      float64
 71  Textbox95                       408 non-null    object
 72  Textbox146                      0 non-null      float64
 73  Textbox90                       408 non-null    object
 74  Textbox153                      0 non-null      float64
dtypes: float64(9), object(66)
memory usage: 239.2+ KB