# Comparing National Parks Visitation 2019-2021

### Yosemite National Park, along with other parks in the National Parks Service, experienced varying kinds of closure that led to changes in their visitation numbers from 2019 to 2021. I wanted to examine how Yosemite's numbers changed compared to the rest of the national parks system.

*I primarily worked with the data in the Excel xls and csv documents that are included in my Github repository. Here I got a better understanding of which datasets I wanted to work with.*

In [1]:
import pandas as pd
from plotnine import *

#### I worked with the datasets from the National Parks Service. Specifically I worked with the datasets available here: https://irma.nps.gov/STATS/Reports/Park/YOSE

#### The first and primary data source I worked with produced the 2019-20 and 2020-21 visitation by month datasets that I then used to calculate YTD visitation. The report is here: https://irma.nps.gov/STATS/SSRSReports/National%20Reports/Annual%20Visitation%20and%20Record%20Year%20by%20Park%20(1904%20-%20Last%20Calendar%20Year)

In [4]:
df_2021 = pd.read_csv('2021_Current_Year_Monthly_and_Annual_Summary_Report_%281979%2D_Present%29.csv')
df_2021.head()

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2020,dec_2021,difference,ytd_2020,ytd_2021,ytd_difference
0,20-Dec,21-Dec,YTD 2020,YTD 2021,TOTAL PARKS,"13,651,336","15,850,602","2,199,266","236,763,581","288,286,704","51,523,123"
1,20-Dec,21-Dec,YTD 2020,YTD 2021,Abraham Lincoln Birthplace NHP,"7,472","10,746","3,274","228,141","251,189","23,048"
2,20-Dec,21-Dec,YTD 2020,YTD 2021,Acadia NP,"21,260","14,381","-6,879","2,669,034","4,069,148","1,400,114"
3,20-Dec,21-Dec,YTD 2020,YTD 2021,Adams NHP,544,360,-184,"6,937","20,679","13,742"
4,20-Dec,21-Dec,YTD 2020,YTD 2021,African Burial Ground NM,116,793,677,"7,908","9,167","1,259"

In [5]:
df_2020 = pd.read_csv('2020_Current_Year_Monthly_and_Annual_Summary_Report_%281979%2D_Present%29.csv')
df_2020.head()

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2019,dec_2020,difference,ytd_2019,ytd_2020,ytd_difference
0,19-Dec,20-Dec,YTD 2019,YTD 2020,TOTAL PARKS,"15,565,241","13,651,336","-1,913,905","327,516,619","236,763,581","-90,753,038"
1,19-Dec,20-Dec,YTD 2019,YTD 2020,Abraham Lincoln Birthplace NHP,"6,764","7,472",708,"238,226","228,141","-10,085"
2,19-Dec,20-Dec,YTD 2019,YTD 2020,Acadia NP,"12,865","21,260","8,395","3,437,286","2,669,034","-768,252"
3,19-Dec,20-Dec,YTD 2019,YTD 2020,Adams NHP,256,544,288,"187,400","6,937","-180,463"
4,19-Dec,20-Dec,YTD 2019,YTD 2020,African Burial Ground NM,"4,279",116,"-4,163","47,427","7,908","-39,519"

#### Here I examined the difference in changes YOY between Yosemite compared with total parks

In [12]:
df_2021[(df_2021.park == "Yosemite NP") | (df_2021.park == "TOTAL PARKS")]

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2020,dec_2021,difference,ytd_2020,ytd_2021,ytd_difference
0,20-Dec,21-Dec,YTD 2020,YTD 2021,TOTAL PARKS,"13,651,336","15,850,602","2,199,266","236,763,581","288,286,704","51,523,123"
383,20-Dec,21-Dec,YTD 2020,YTD 2021,Yosemite NP,"117,454","129,273","11,819","2,268,313","3,287,595","1,019,282"

In [13]:
df_2020[(df_2020.park == "Yosemite NP") | (df_2020.park == "TOTAL PARKS")]

,previous_year,current_year,previous_fiscal_year,current_fiscal_year,park,dec_2019,dec_2020,difference,ytd_2019,ytd_2020,ytd_difference
0,19-Dec,20-Dec,YTD 2019,YTD 2020,TOTAL PARKS,"15,565,241","13,651,336","-1,913,905","327,516,619","236,763,581","-90,753,038"
380,19-Dec,20-Dec,YTD 2019,YTD 2020,Yosemite NP,"149,188","117,454","-31,734","4,422,861","2,268,313","-2,154,548"

In [14]:
df1 = pd.read_csv('Visitation_By_State_and_By_Park_%282017%2D_LastCalendarYear%29.csv')
df1.head()

,State,Field1,Field2,Textbox22,Field4,Textbox24,TotalNonRecreationVisits,Textbox98,TotalRecreationVisitorHours,Textbox103,...,Textbox47,Textbox129,Textbox42,Textbox135,Textbox37,Textbox141,Textbox95,Textbox146,Textbox90,Textbox153
0,Alabama,Horseshoe Bend NMP,"28,600",-36.97%,"8,788",-25.20%,0,NaN,"105,461",-25.20%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
1,Alabama,Little River Canyon NPRES,"802,375",23.44%,"168,827",27.60%,0,NaN,"2,025,934",27.60%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
2,Alabama,Natchez Trace PKWY,"428,736",-2.72%,"143,413",-3.01%,"583,028",-9.08%,"1,720,966",-3.01%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
3,Alabama,Russell Cave NM,"8,462",-49.15%,"1,074",-55.36%,0,NaN,"12,894",-55.35%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN
4,Alabama,Tuskegee Airmen NHS,"6,843",-77.26%,855,-77.27%,0,NaN,"10,264",-77.26%,...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN